---
import Root from "../layouts/Root.astro";
import ProfileCard from "../components/ProfileCard.astro";
import TechStack from "../components/TechStack.astro";
import Projects from "../components/Projects.astro";
---

<script>
  import { uiState } from "../lib/ui.svelte";

  // Intersection Observer to update active section
  const observerOptions = {
    root: null,
    rootMargin: "0px",
    threshold: 0.5, // Trigger when 50% of the section is visible
  };

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        uiState.setActiveSection(entry.target.id);
      }
    });
  }, observerOptions);

  document.querySelectorAll("section").forEach((section) => {
    observer.observe(section);
  });
</script>

<Root>
  <div
    class="snap-y snap-proximity md:snap-mandatory h-dvh overflow-y-scroll overflow-x-hidden scroll-smooth pb-20 md:pb-0"
  >
    <section
      id="profile"
      class="snap-start min-h-screen w-full flex items-center justify-center p-4 lg:py-20 md:py-0"
    >
      <ProfileCard />
    </section>

    <section
      id="stack"
      class="snap-start min-h-screen w-full flex items-center justify-center p-4 bg-base-200/50 lg:py-20 md:py-0"
    >
      <TechStack />
    </section>

    <section
      id="projects"
      class="snap-start min-h-screen w-full flex items-center justify-center p-4 lg:py-20 md:py-0"
    >
      <Projects />
    </section>
  </div>
</Root>
